<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  	<div id = "todo-app">
      	<form action="" onsubmit="return false;">
	        <input type="checkbox" id="check-all">
	        <label>Todo:</label>
	        <input type = "text" required id="new-todo">
	        <input type="submit" id="add-todo">
		</form>
		<div class="todo_container">
		  	<ul class="todo_box">
		  	</ul>
			<div id="status_bar">
			</div>
      </div>
    </div>
</body>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
<script type="text/javascript" src="bower_components/backbone.localStorage/backbone.localStorage.js"></script>
<script id="todo-item-template" type="text/template">
	<div class="view">
		<input type="checkbox" <%= (hasCompleted) ? 'checked' : '' %> id="check-hasCompleted"/>
		<span class="<%= (hasCompleted) ? 'strikeout' : '' %>" id="todo-title"><%- title %></span>
		<a class = "remove-todo-close" href="#" >x</a>
	</div>
	<input type="text" class="edit" value="<%- title %>"/>
</script>
<script id="todo-statusbar-template" type="text/template">
	<div>
		<span><span id="active-todo-count"></span> <%= remaining %> <%= (remaining == 1) ? 'item' : 'items' %> are remaining</span>
		<span><a class = "show-type-link <%= (showType == 'all') ? 'active' : '' %>" data-target = "all" href="#">All</a></span>
		<span><a class = "show-type-link <%= (showType == 'active') ? 'active' : '' %>" data-target = "active" href="#">Active</a></span>
		<span><a class = "show-type-link <%= (showType == 'completed') ? 'active' : '' %>" data-target = "completed" href="#">Completed</a></span>
		<span><a id = "clear-completed" href="#">Clear Completed</a></span>
	</div>
</script>
<script type="text/javascript" src="js/app.js"></script>
</html>