<html>
<head>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>
  	<div class = "container">
      	<form action="" onsubmit="return false;">
	        <input type="checkbox" id="check-all">
	        <label>Todo:</label>
	        <input type = "text" required id="new-todo">
	        <input type="submit" id="add-todo">
		</form>
		<div class="todo_container">
		  	<div class="todo_box">
		  	</div>
			<div id="status_bar">
			</div>
      </div>
    </div>
</body>
<script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
<script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="bower_components/backbone/backbone.js"></script>
<script id="todo-item-template" type="text/template">
	<div style="display:inline-block">
		<input type="checkbox" <%= (hasCompleted) ? 'checked' : '' %> id="check-hasCompleted"/>
		<span class="<%= (hasCompleted) ? 'strikeout' : '' %>" ><%- title %></span>
	</div>
	<a class = "remove_todo_close" href="#" >x</a>
</script>
<script id="todo-statusbar-template" type="text/template">
	<div>
		<span><span id="active-todo-count"></span> <%= remaining %> <%= (remaining == 1) ? 'item' : 'items' %> are remaining</span>
		<span><a class="<%= (showType == 'all') ? 'active' : '' %>" id = "show-type-all" ng-click="changeShowType('all')" href="#">All</a></span>
		<span><a class="<%= (showType == 'active') ? 'active' : '' %>" id = "show-type-active" href="#">Active</a></span>
		<span><a class="<%= (showType == 'completed') ? 'active' : '' %>" id = "show-type-completed" href="#">Completed</a></span>
		<span><a id = "clear-completed" href="#">Clear Completed</a></span>
	</div>
</script>
<script type="text/javascript" src="js/app.js"></script>

</html>